a.eidogo-variation
{
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin: 0.25em;
}

.eidogo-canvas 
{
    height: 100%;
}

.eidogo-sidebar
{
    height: 100%;
}


.yui3-eidogo-toolbar
{    display: block;
    border: 1px solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.eidogo-comments
{
    display: block;
    overflow: auto;
    height: 30%;
    border: 1px solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.eidogo-sidebar
{
    height:100%;
}

.eidogo-navtree
{
    display: block;
    overflow: auto;
    height: 55%;
    border: 1px solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.eidogo-navtree .eidogo-node
{
    text-decoration: none;
    cursor: pointer;
    margin: 0.25em;
}

.eidogo-navtree ol
{
    display: none;
}

.eidogo-navtree ol.eidogo-activeNode,
.eidogo-navtree li.eidogo-activeNode > ol
{
    display: block;
}

.eidogo-navtree li.eidogo-activeNode 
{
    display: list-item;
}

.eidogo-navtree li.eidogo-activeNode > a
{
    display: block;
    text-align:center;
    width: 3em;
    border-bottom: 1px solid black;
    font-weight: bold;
    background-color: grey;
}


.eidogo-navtree .eidogo-g {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.eidogo-g {
    word-spacing: -0.43em;
}

.eidogo-u {
    display: inline-block;
    zoom: 1; *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.eidogo-u-1,.eidogo-u-1-2,.eidogo-u-1-3,.eidogo-u-2-3 {
    display: inline-block;
    zoom: 1; *display: inline; 
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.eidogo-u-1 {
    display:block;
}

.eidogo-u-1-2 {
    width: 50%;
}

.eidogo-offset-1-2 {
    margin-left: 50%;
}

.eidogo-u-1-3 {
    width: 33.33333%;
}

.eidogo-offset-1-3 {
    margin-left: 33.33333%;
}

.eidogo-u-2-3 {
    width: 66.66667%;
}

.eidogo-offset-2-3 {
    margin-left: 66.66667%;
}

.eidogo-g-r {
    letter-spacing: -0.31em; 
    *letter-spacing: normal; 
    word-spacing: -0.43em; 
}

.opera-only :-o-prefocus,
.eidogo-g-r {
    word-spacing: -0.43em;
}

.eidogo-g-r img {
    max-width: 100%;
}

@media (min-width:980px) {
    .eidogo-visible-phone     { display: none; }
    .eidogo-visible-tablet    { display: none; }
    .eidogo-visible-desktop   { }
    .eidogo-hidden-phone      { }
    .eidogo-hidden-tablet     { }
    .eidogo-hidden-desktop    { display: none; }
}

@media (max-width:480px) {
    .eidogo-g-r > [class ^= "eidogo-u"] {
        width:100%;
    }
}

@media (max-width:767px) {
    .eidogo-g-r > [class ^= "eidogo-u"] {
        width:100%;
    }            
    .eidogo-visible-phone     { } 
    .eidogo-hidden-phone      { display: none; }
    .eidogo-hidden-desktop    { }
    .eidogo-visible-desktop   { display: none; }
}

@media (min-width:768px) and (max-width:979px) {
    .eidogo-visible-tablet    {}
    .eidogo-hidden-tablet     { display: none; }
    .eidogo-hidden-desktop    {}
    .eidogo-visible-desktop   { display: none; }
}