.DS_Store
*.pyc
*.o
dev/*
gnugo/*
kombilo/_libkombilo.so
kombilo/build
kombilo/cache
kombilo/libkombilo.py
kombilo/libkombilo_wrap.cxx
kombilo/t1.db
kombilo/t1.db1
kombilo/t1.db2
kombilo_old
php/db.php
releases/*
sgf/kjd*.sgf
sgf/kjd*.sql
sgf/dev/*
sgf/downloaded/*
sgf/games/*.sgf
sgf/saved/*.sgf
sgf/titles/*.sgf
svn/*
titles/titles.db

