#Options -MultiViews
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^source$ /source.phtml [L,NE]
RewriteRule ^upload$ /upload.phtml [L,NE]
RewriteRule ^games$ /games.phtml [L,NE]
RewriteRule ^(kjd)$ /#$1 [R,L,NE]
RewriteRule ^(search)$ /#$1 [R,L,NE]
RewriteRule ^(gnugo.*)$ /#$1 [R,L,NE]
RewriteRule ^(blank)$ /#$1 [R,L,NE]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ / [L]
