.eidogo-player {
    width: 421px;
	position: relative;
    background: #222;
/*    background: #ddd;*/
    padding: 5px 0 0 0;
}
.eidogo-player ul, .eidogo-player ol, .eidogo-player dl, .eidogo-player dd, .eidogo-player dt {
	margin: 0;
	padding: 0;
	list-style: none;
}
.eidogo-player .controls-container {
	width: 421px;
/*  float: right;*/
	position: relative;
	padding: 0;
    background: #466;
    color: #8aa;
}
.eidogo-player .controls {
	height: 70px;
	text-indent: -9999px;
	font-size: 0;
/*  border-top: 1px solid #777;*/
	padding-left: 2px;
}
.eidogo-player .controls .control {
	margin: 5px 8px 0px 8px;
	user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	cursor: default;
}
.eidogo-player .controls .back {
	width: 88px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: 22px 9px;
	background-color: #8aa;
	background-image: url(images/back_off.gif);
	float: left;
}
.eidogo-player .controls .back-on {
	background-image: url(images/back_on.gif);
	cursor: pointer;
}
.eidogo-player .controls .forward {
	width: 88px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: 22px 9px;
	background-color: #8aa;
	background-image: url(images/forward_off.gif);
	float: left;
}
.eidogo-player .controls .forward-on {
	background-image: url(images/forward_on.gif);
	cursor: pointer;
}
.eidogo-player .controls .first {
	width: 88px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: 22px 9px;
	background-color: #8aa;
	background-image: url(images/first_off.gif);
	float: left;
	margin-bottom: 5px;
}
.eidogo-player .controls .first-on {
	background-image: url(images/first_on.gif);
	cursor: pointer;
}
.eidogo-player .controls .last {
	width: 88px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: 22px 9px;
	background-color: #8aa;
	background-image: url(images/last_off.gif);
	cursor: default;
	float: left;
	margin-bottom: 5px;
}
.eidogo-player .controls .last-on {
	background-image: url(images/last_on.gif);
	cursor: pointer;
}
.eidogo-player .controls .pass {
	float: right;
	width: 88px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: 22px 9px;
	background-color: #8aa;
	background-image: url(images/pass_off.gif);
	margin-right: 11px;
	margin-bottom: 10px;
	display: inline;
	cursor: pointer;
}
.eidogo-player .controls .pass-on {
	background-image: url(images/pass_on.gif);
	cursor: pointer;
}
.eidogo-player .move-number {
	position: absolute;
	top: 65px;
	left: 180px;
	color: #8aa;
	font-size: 13px;
	text-decoration: underline;
	cursor: pointer;
}
.eidogo-player .nav-slider {
	clear: both;
	position: relative;
	height: 10px;
	width: 411px;
	margin: 0px 5px 5px 5px;
	border-top: 1px solid #122;
	background: #244;
/*  cursor: pointer;*/
/*  display: none;*/
}
.eidogo-player .nav-slider-thumb {
    position: absolute;
	width: 9px;
	height: 9px;
	background: #d11;
/*  border-top: 1px solid #f44;*/
/*  border-left: 1px solid #f44;*/
    border-bottom: 1px solid #800;
    border-right: 1px solid #800;
	cursor: pointer;
	display: none;
}
.eidogo-player .variations-container {
	width: 386px;
/*    background: #ddd;*/
    min-height: 20px;
	padding: 10px 5px 0px 5px;
}
.eidogo-player .variations-label {
	float: left;
	padding: 5px 5px 0 0;
/*  color: #aaa;*/
	cursor: default;
	font-size: 13px;
}
.eidogo-player .variation-nav {
	float: left;
/*  color: #c33;*/
/*    background-color: #282828;*/
/*color: #831;*/
/*background: #ee974c;*/
    background: #799;
    color: #b00;
	font-weight: bold;
	margin: 3px;
	position: relative;
	top: -3px;
	padding: 7px 10px 6px 10px;
	font-size: 13px;
	width: auto;
	height: 14px;
	cursor: pointer;
	user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
.eidogo-player .variation-nav.none {
	font-weight: normal;
	width: auto;
	padding-right: 5px;
	color: #244;
	background: #688;
	cursor: default;
}
.eidogo-player .tools-container {
/*    float: right;*/
/*    clear: right;*/
/*    background: #446;*/
    background: #744;
    width: 411px;
/*    height: 25px;*/
    padding: 5px 5px 5px 5px;
    margin: 5px 0 0 0;
}
.eidogo-player .tools-label {
    float: left;
    padding: 5px 5px 0 0;
/*    color: #88a;*/
    color: #a88;
    font-size: 13px;
    cursor: default;
}
.eidogo-player .search-button {
    margin: 0 0 0 5px;
    color: #800;
    font-size: 11px;
/*    background-color: #88a;*/
/*    border: 1px solid #88a;*/
    background: #b88;
    border: 1px solid #b88;
    cursor: pointer;
    font-weight: bold;
    display: none;
}
.eidogo-player .search-region {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 133px;
    height: 133px;
    background-color: #80f;
    opacity: 0.30;
    filter: alpha(opacity=30);
    z-index: 9999;
    display: none;
}
.eidogo-player .tools-select, .eidogo-player .search-algo {
    font-size: 13px;
}
.eidogo-player .search-algo {
    margin: 0 0 0 10px;
    display: none;
}
.eidogo-player .comment-pass {
	color: #800;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.eidogo-player .comment-status {
	color: #000;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.eidogo-player .comments {
/*  clear: right;*/
/*  float: right;*/
	width: 398px;
/*  min-height: 271px;*/
	height: 243px;
	font-size: 13px;
	margin: 5px 0 0 0;
	padding: 15px 10px 40px 10px;
	overflow: auto;
/*  background: #222;*/
/*  color: #999;*/
    background: #bba;
    border-left: 3px solid #998;
    border-top: 2px solid #998;
}
.eidogo-player .comments a {
    color: #008;
}
.eidogo-player .comment-info {
/*    background: #aa9;*/
    padding: 5px;
/*    border: 1px solid #998;*/
    background: #bbf;
    border: 1px solid #88b;
    margin: 0 0 10px 0;
}
.eidogo-player .search-container {
/*  clear: right;*/
/*  float: right;*/
	width: 398px;
	height: 243px;
	font-size: 12px;
	margin: 5px 0 0 0;
	padding: 15px 10px 40px 10px;
	overflow: auto;
    background: #bbe;
    border-left: 3px solid #778;
    border-top: 2px solid #778;
    display: none;
}
.eidogo-player .search-container .search-count {
    font-size: 11px;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #778;
}
.eidogo-player .search-container .search-close {
    float: right;
    padding: 4px 7px;
    background: #aad;
    color: #008;
    cursor: pointer;
    margin-top: -10px;
    font-weight: bold;
}
.eidogo-player .search-container .search-count span {
    font-weight: bold;
}
.eidogo-player .search-container .search-result {
    display: block;
    text-decoration: none;
    color: #008;
    cursor: pointer;
}
.eidogo-player .search-container div.search-result {
    cursor: default;
    color: #000;
}
.eidogo-player .search-container a.search-result.odd {
    background: #aad;
}
.eidogo-player .search-container a.search-result:hover {
    color: #fff;
    background-color: #77c;
}
.eidogo-player .search-container .search-result span {
    display: inline;
    float: left;
    padding: 15px 5px;
}
.eidogo-player .search-container .search-result .id, .eidogo-player .search-container .search-result .mv {
    display: none;
}
.eidogo-player .search-container .search-result .pw {
    width: 105px;
}
.eidogo-player .search-container .search-result .pb {
    width: 105px;
}
.eidogo-player .search-container .search-result .re {
    width: 50px;
}
.eidogo-player .search-container .search-result .dt {
    width: 70px;
}
.eidogo-player .search-container .search-result .clear {
    clear: both;
    font-size: 1px;
}
.eidogo-player .board-container {
/*  position: absolute;*/
	width: 371px;
	height: 371px;
	background: #555;
/*  border-bottom: 4px solid #222;*/
	padding: 25px;
	background: #654;
	user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
.eidogo-player .board-container.with-coords {
    background: #654 url(images/board-bg-coords.png) no-repeat 5px 5px;
}
.eidogo-player .board.size9 {
	position: absolute;
	width: 181px;
	height: 181px;
	background: #888 url(images/board-9.gif);
	margin: 90px 90px;
}
.eidogo-player .board.size13 {
	position: absolute;
	width: 257px;
	height: 257px;
	background: #888 url(images/board-13.gif);
	margin: 57px 57px;
}
.eidogo-player .board.size19 {
	position: absolute;
	width: 371px;
	height: 371px;
	background: #E8C473 url(images/board-19.gif);
}
.eidogo-player .board .point {
	position: absolute;
	width: 19px;
	height: 19px;
	z-index: 1;
}
.eidogo-player .board .point.stone.black {
	background: url(images/b.png);
}
.eidogo-player .board .point.stone.white {
	background: url(images/w.png);
}
.eidogo-player .board .point.marker.current {
	background: url(images/current.gif);
}
.eidogo-player .board .point.marker {
	z-index: 2;
}
.eidogo-player .board .point.marker.label {
	color: #f00;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 0 0 5px;
	width: 14px;
	height: 16px;
	cursor: default;
	user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
.eidogo-player .board .point.marker.variation {
	color: #831;
	background: #ee974c;
	font-size: 12px;
	font-weight: bold;
	margin: 1px;
	padding: 2px 0 1px 5px;
	width: 12px;
	height: 14px;
	cursor: pointer;
	user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	z-index: 3;
}
.eidogo-player .board .point.marker.triangle {
	background: url(images/triangle.gif);
}
.eidogo-player .board .point.marker.square {
	background: url(images/square.gif);
}
.eidogo-player .board .point.marker.circle {
	background: url(images/circle.gif);
}
.eidogo-player .board .point.marker.ex {
	background: url(images/ex.gif);
}
.eidogo-player .board .point.marker.territory-white {
	background: url(images/territory-white.gif);
}
.eidogo-player .board .point.marker.territory-black {
	background: url(images/territory-black.gif);
}
.eidogo-player .board-hover-move {
    position: absolute;
    width: 19px;
    height: 19px;
    z-index: 1;
    margin: -8px 0 0 -8px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none;
}
.eidogo-player .board-hover-move-b {
    background-image: url(images/b.gif);
}
.eidogo-player .board-hover-move-w {
    background-image: url(images/w.gif);
}
.eidogo-player .info {
/*    clear: both;*/
/*    float: left;*/
/*  padding-top: 375px;*/
	width: 421px;
	margin: 5px 0 0 0;
	padding: 5px 0 0 0;
	background: #333;
    color: #fff;
	font-size: 10px;
}
.eidogo-player .info .players {
	width: 401px;
	margin: 0px 10px;
	height: 50px;
	display: none;
}
.eidogo-player .info .players .player {
	width: 199px;
	float: left;
/*	background: #222;*/
	padding-top: 5px;
	padding-right: 1px;
}
.eidogo-player .info .players .player.white .name {
    font-size: 13px;
	border-top: 1px solid #999;
    height: 14px;
	padding: 4px 3px 3px 20px;
	background: #555 url(images/territory-white.gif) no-repeat;
}
.eidogo-player .info .players .player.black .name {
    font-size: 13px;
	border-top: 1px solid #999;
    height: 14px;
	padding: 4px 3px 3px 20px;
	background: #555 url(images/territory-black.gif) no-repeat;
}
.eidogo-player .info .players .player .captures {
    float: left;
    width: 40%;
	padding: 3px 3px 5px 5px;
	color: #777;
	background: #222;
	font-size: 9px;
	margin: 0 0 10px 0;
}
.eidogo-player .info .players .player .captures span {
	color: #fff;
	padding-left: 2px;
}
.eidogo-player .info .players .player .time {
	padding: 3px 3px 5px 5px;
	color: #777;
	background: #222;
	font-size: 9px;
	margin: 0 0 10px 0;
}
.eidogo-player .info .players .player .time span {
	color: #fff;
	padding-left: 2px;
}
.eidogo-player .info .game dl {
	clear: both;
	padding: 5px 5px 10px 10px;
}
.eidogo-player .info .game dt {
	clear: left;
	width: 70px;
	float: left;
	padding: 0 0 3px 0;
}
.eidogo-player .info .game dd {
/*  text-indent: -5px;*/
	padding: 0 0 3px 0;
	margin: 0 0 0 85px;
}
.eidogo-player .info a {
    color: #fff;
}
.eidogo-player .preferences {
	clear: right;
	float: right;
	width: 302px;
	font-size: 11px;
	margin: 15px 0 0 20px;
	overflow: auto;
    background: #222;
    color: #888;
    display: none;
}
.eidogo-loading {
	position: absolute;
	width: 150px;
	height: 40px;
	top: 560px;
	left: 380px;
	padding: 0px 0 0 0px;
	color: #777;
	z-index: 9999;
    background: url(images/loading2.gif) no-repeat;
    text-indent: -9999px;
}
.eidogo-error {
	position: absolute;
	top: 140px;
	left: 0;
	width: 381px;
	font-size: 13px;
	background: #933;
	border-right: 2px solid #622;
	border-bottom: 2px solid #622;
	margin: 20px auto 20px auto;
	padding: 20px;
	color: #fff;
	z-index: 9999;
}
.eidogo-player .footer {
    clear: both;
}